/* css index */
main {
  @include main_condition($col-berkeley-blue);
  @include flex-main;
  p {
    font-size: 1.5rem;
  }

  .principal-presentation {
    align-self: center;
    padding-left: 10px;

    h1 {
      font-size: 2.5rem;
    }
  }

  .carousel {
    position: none;
  }

  .principal-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    align-self: center;

    .carousel-item {
      img {
        width: 100%;
        height: 100%;
        max-height: 327px;
        max-width: 500px;
        object-fit: contain;
      }
    }
  }
}

.services-section {
  display: flex;
  flex-direction: row;
  gap: 1%;
  margin: 0% 2% 0% 2%;
  justify-content: center;
  background-color: $col-cerulean;
  justify-items: center;
  place-items: center;

  .services-card {
    @include card;

    h2 {
      color: $col-berkeley-blue;
      font-size: 1.5rem;
    }
  
    p {
      color: $col-cerulean;
    }
  
    img {
      width: 100%;
      max-width: 150px;
      height: auto;
    }
    
    .services-card-button {
        @include cardbutton;
    }
  }

}




